header {
  background-color: aquamarine;
}
.header__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 32px 70px;
}

.menu {
  display: flex;
  gap: 37px;
}
