footer {
  background-color: black;
  padding: 30px;
}

.footer__conteudo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.footer__card__logo {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 10px;
}

.footer__cards {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 10px;
}

.logo__rodape {
  color: white;
}

.slogan__footer {
  font-size: 1rem;
}

.sobre__subtitulo,
.redes__subtitulo {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 20px;
}
.sobre__desc {
  font-size: 14px;
}

.sobre__desc__email {
  color: inherit;
}

@media screen and (max-width: 700px) {
  .footer__conteudo {
    grid-template-columns: 1fr;
  }
  .card__logo {
    text-align: center;
    padding-bottom: 30px;
  }
}
