* {
  font-family: 'Roboto', sans-serif;
  color: var(--black);
}

:root {
  --red: #d6000d;
  --black: #010101;
}

ul,
li,
nav,
h1,
h2,
p,
div,
body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}
a {
  box-sizing: border-box;
  text-decoration: none;
  color: var(--black);
}

li {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.container-l {
  max-width: 960px;
  margin: 0 auto;
}

/* .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
} */
.flex {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 700px) {
  .flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
