:root {
  --red: #d6000d;
  --black: #010101;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--black);
  max-width: 1240px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  display: block;
}

a {
  box-sizing: border-box;
  text-decoration: none;
  color: var(--black);
}

.conteudo__principal {
  padding: 0 60px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 700px) {
  .flex {
    flex-direction: column;
    gap: 20px;
  }
  .conteudo__principal {
    padding: 0 16px;
  }
}

@media screen and (max-width: 425px) {
  .flex {
    padding: 0 10px;
  }
}
