.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 1rem;
}

.logo {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--red);
  display: block;
}

.logo span {
  color: var(--black);
}

.nav-list {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  flex-wrap: wrap;
}

.nav-list a {
  display: block;
  padding: 0.5rem;
}

.nav-list .login a {
  background: var(--red);
  color: white;
  border-radius: 5px;
  padding: 8px 40px;
}

@media screen and (max-width: 500px) {
  .header {
    flex-direction: column;
  }
  .nav-list .login {
    display: none;
  }
}
