.inicio__imagem {
  max-width: 400px;
}

.inicio__conteudo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.inicio__conteudo__paragrafo {
  font-size: 1.25rem;
  font-weight: 700;
  padding-bottom: 0.5rem;
}

.inicio__conteudo__titulo {
  color: var(--red);
  font-size: 45px;
  font-weight: 700;
  padding-bottom: 2rem;
}

.btn__link {
  background-color: var(--red);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 1.25rem;
  padding: 10px 50px;
}

@media screen and (max-width: 856px) {
  .inicio__conteudo {
    justify-content: center;
    align-items: center;
  }
  .inicio__conteudo__titulo {
    padding-bottom: 1.5rem;
  }
  .inicio__imagem {
    max-width: 300px;
  }
  .btn__link {
    padding: 15px 60px;
  }
}

@media screen and (max-width: 375px) {
  .inicio__conteudo__titulo {
    font-size: 40px;
  }
}
