.servicos {
  padding-top: 110px;
}

.list {
  padding-bottom: 10px;
}

.fa-check-circle {
  color: #d6000d;
  margin-right: 20px;
}

.input__cel {
  background-color: #dcdcdc;
  border: none;
  border-radius: 10px;
  color: #f1f1f1;
  font-size: 1rem;
  padding: 10px;
}

.btn__cel {
  background-color: var(--red);
  border: none;
  border-radius: 10px;
  display: inline-block;
  color: #f1f1f1;
  font-size: 1rem;
  padding: 10px 20px;
}

.servicos__imagem {
  max-width: 450px;
}
